# Database
MYSQL_DATABASE=wordpress
MYSQL_USER=wp_user
MYSQL_PASSWORD=wp_password
MYSQL_ROOT_PASSWORD=root_password
MYSQL_HOST=mariadb

# WordPress
WP_URL=https://mzhivoto.42.fr
WP_TITLE=Inception Blog
WP_ADMIN_USER=admin
WP_ADMIN_EMAIL=boss@example.com

# Data storage paths - EDIT THESE for your system
WORDPRESS_DATA_PATH=/home/mzhivoto/data/wordpress
MARIADB_DATA_PATH=/home/mzhivoto/data/mariadb
# Nginx certificate CN
DOMAIN_NAME=mzhivoto.42.fr
