# Domain
DOMAIN_NAME=test.42.fr
WP_URL=https://mzhivoto.42.fr

# Database
MYSQL_DATABASE=wordpress
MYSQL_USER=wp_user

# WordPress
WP_TITLE=MY Inception Blog
WP_ADMIN_USER=boss
WP_ADMIN_EMAIL=boss@example.com
WP_USER_NAME=editor
WP_USER_EMAIL=editor@example.com

# Data storage paths - EDIT THESE for your system
WORDPRESS_DATA_PATH=/home/mzhivoto/data/wordpress
MARIADB_DATA_PATH=/home/mzhivoto/data/mariadb
