services:
  mariadb:
    container_name: mariadb
    build:
      context: ./requirements/mariadb
    env_file:
      - .env
    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - inception
    restart: unless-stopped
    expose:
      - "3306"

  wordpress:
    container_name: wordpress
    build:
      context: ./requirements/wordpress
    env_file:
      - .env
    volumes:
      - wp_files:/var/www/html
    networks:
      - inception
    depends_on:
      - mariadb
    restart: always
    expose:
      - "9000"   # php-fpm (internal only)
  nginx:
    container_name: nginx
    build:
      context: ./requirements/nginx
    env_file:
      - .env
    volumes:
      - wp_files:/var/www/html:ro
    networks:
      - inception
    depends_on:
      - wordpress
    restart: always
    ports:
      - "443:443"   # ONLY entrypoint

volumes:
  mariadb_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${MARIADB_DATA_PATH:-/home/mzhivoto/data/mariadb}

  wp_files:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${WORDPRESS_DATA_PATH:-/home/mzhivoto/data/wordpress}

networks:
  inception:
    driver: bridge
