services:
  mariadb:
    container_name: mariadb
    build:
      context: ./requirements/mariadb
    image: mariadb:42
    env_file:
      - .env
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD_FILE: /run/secrets/db_password
      MYSQL_ROOT_PASSWORD_FILE: /run/secrets/db_root_password
    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - inception
    secrets:
      - db_password
      - db_root_password
    restart: unless-stopped
    expose:
      - "3306"

  wordpress:
    container_name: wordpress
    build:
      context: ./requirements/wordpress
    image: wordpress:42
    env_file:
      - .env
    environment:
      MYSQL_HOST: mariadb
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD_FILE: /run/secrets/db_password
      MYSQL_ROOT_PASSWORD_FILE: /run/secrets/db_root_password

      WP_URL: ${WP_URL}
      WP_TITLE: ${WP_TITLE}
      WP_ADMIN_USER: ${WP_ADMIN_USER}
      WP_ADMIN_PASSWORD: ${WP_ADMIN_PASSWORD}
      WP_ADMIN_EMAIL: ${WP_ADMIN_EMAIL}
    secrets:
      - db_password
      - db_root_password
    volumes:
      - wp_files:/var/www/html
    networks:
      - inception
    depends_on:
      - mariadb
    restart: always
    expose:
      - "9000"

  nginx:
    container_name: nginx
    build:
      context: ./requirements/nginx
    image: nginx:42
    env_file:
      - .env
    volumes:
      - wp_files:/var/www/html:ro
    networks:
      - inception
    depends_on:
      - wordpress
    restart: always
    ports:
      - "443:443"

volumes:
  mariadb_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/mzhivoto/data/mariadb

  wp_files:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/mzhivoto/data/wordpress

networks:
  inception:
    driver: bridge

secrets:
  db_password:
    file: ../secrets/db_password.txt
  db_root_password:
    file: ../secrets/db_root_password.txt
